<app-navbar></app-navbar>
<div class="branch">
    <div class="branch_contenedor">
        <h1>Selecciona el centro del cual alquilarás la bicicleta:</h1>
        <form action="">
            <div>
                <select class="form-select" name="" id="">
                    <option value="">Centro de Formación en Diseño, Confección y Moda</option>
                    <option value="">Centro de Diseño y Manufactura del Cuero</option>
                    <option value="">Centro Tecnológico de Mobiliario</option>
                </select>
            </div>
            <div>
                <button routerLink="/bikes" class="btn btn-primary">Siguiente</button>
            </div>
        </form>
    </div>
</div>