<div class="login">
  <h1 class="login_titles">Bisick</h1>
  <h3 class="login_titles">Inicar sesión</h3>
  <div class="login_inputs">
    <form action="" method="post">
      <div class="mb-3">
        <label class="form-label">Cédula: </label>
        <input class="form-control" type="text" ngModel="cedula" name="cedula" placeholder="Ingresa la cédula...">
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña: </label>
        <input class="form-control" type="password" ngModel="contrasena" name="contrasena"
          placeholder="Ingresa la contraseña...">
      </div>
      <div>
        <label class="form-label">Si no te has registrado, <a class="register_link" routerLink="/register">hazlo ahora</a> </label>
      </div>
      <div>
        <button type="submit" class="btn login_buttom" (click)="validar(cedula, contrasena)">Ingresar</button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>